@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    min-width: 300px;
    min-height: 200px;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    padding: 15px;
}

.field {
    display: flex;
    align-items: center;
    font-size: 17px;
    transition: all .2s;
    margin: 0 auto;
    width: fit-content;
}

.field label {
    padding-right: 10px;
}

.hide {
    display: none !important;
}

.disable {
    pointer-events: none;
    opacity: .5;
}

#toggleBtn {
    width: 70px;
    height: 30px;
}

#toggleBtn::before {
    height: calc(70px / 3.2);
    width: calc(70px / 3.2);
}

#toggleBtn.toggle-off-btn::before {
    transform: translateX(calc(70px * -.07));
}

#toggleBtn.toggle-on-btn::before {
    transform: translateX(calc(70px * .45));
}

.message {
    color: #ff3434;
    font-size: 13px;
    text-align: center;
}

footer {
    text-align: center;
}

.separator {
    display: block;
    width: 55%;
    margin: 10px auto;
    height: 1px;
    background-color: #f1f1f1;
}

.made {
    font-size: 0.9rem;
    margin-bottom: 13px;
    display: block;
}

.made a, .made a:hover, .made a:visited {
    color: #55a6e0;
    text-decoration: none;
}

.social-links a {
    margin-right: 10px;
}

.social-links a, .social-links a:hover {
    text-decoration: none;
}

.social-image {
    width: 18px;
    height: 18px;
}